.p-16 {
  padding: 16px !important;
}

.p-24 {
  padding: 24px !important;
}

.p-32 {
  padding: 32px !important;
}

.mx-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.my-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.py-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-36 {
  margin-top: 24px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.ion-no-padding {
  padding: 0px !important;
}
